archspec @ file:///croot/archspec_1709217642129/work
beautifulsoup4==4.8.2
boltons @ file:///work/perseverance-python-buildout/croot/boltons_1698851177130/work
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi==2019.11.28
cffi @ file:///croot/cffi_1714483155441/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
Click==7.0
conda @ file:///croot/conda_1715635703388/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1706733287605/work/src
conda-package-handling @ file:///croot/conda-package-handling_1714483155348/work
conda_package_streaming @ file:///work/perseverance-python-buildout/croot/conda-package-streaming_1698847176583/work
cryptography==43.0.3
distro @ file:///croot/distro_1714488253808/work
Flask==1.1.1
frozendict @ file:///croot/frozendict_1713194832637/work
idna @ file:///croot/idna_1714398848350/work
itsdangerous==1.1.0
Jinja2==2.11.1
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer==2.1
libmambapy @ file:///croot/mamba-split_1714483352891/work/libmambapy
MarkupSafe==1.1.1
menuinst @ file:///croot/menuinst_1714510563922/work
packaging @ file:///croot/packaging_1710807400464/work
platformdirs @ file:///work/perseverance-python-buildout/croot/platformdirs_1701732573265/work
pluggy @ file:///work/perseverance-python-buildout/croot/pluggy_1698805497733/work
psycopg2==2.9.10
pycosat @ file:///croot/pycosat_1714510623388/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
requests @ file:///croot/requests_1707355572290/work
ruamel.yaml @ file:///work/perseverance-python-buildout/croot/ruamel.yaml_1698863605521/work
setuptools==75.3.0
soupsieve==1.9.5
tqdm==4.42.1
truststore @ file:///work/perseverance-python-buildout/croot/truststore_1701735771625/work
urllib3 @ file:///croot/urllib3_1715635851070/work
Werkzeug==1.0.0
wheel==0.43.0
zstandard @ file:///croot/zstandard_1714677652653/work
